<configuration>
    <timestamp key="_dailyLog" datePattern="yyyyMMdd"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{.SSS}][%.-1level][%12.12thread{12}] %30.30logger{30}: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="com.fan.transfer" level="DEBUG"/>
<!--    <logger name="spock.lang" level="TRACE"/>-->
<!--    <logger name="org.apache.cxf" level="TRACE"/>-->
<!--    <logger name="org.apache.cxf.jaxrs.client" level="TRACE"/>-->

    <root level="INFO">
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>

</configuration>